body {
  background-color: whitesmoke;
  color: white;
  font-family: "Lato";
}
.container-fluid {
  width: 100%;

  @media (max-width: 530px) {
    left: 0;
    margin: 10px 0;
    position: relative;
    top: 0;
    transform: none;
  }
}
/* NAVBAR */
.navmenu {
  width: 100%;
  height: fit-content;
  background: black;
  display: inline-block;
}

#menu {
  color: #fff;
  font-size: 18px;
  position: static;
  font-weight: 500px;
  height: fit-content;
}

#menu a {
  width: fit-content;
  height: fit-content;
}

nav {
  display: block;
  width: fit-content;
  height: fit-content;
}

nav ul {
  padding-left: 0px;
  font-size: 0px;
  background-color: black;
  width: fit-content;
  height: 60px;
}

nav li {
  display: block;
  font-size: 16px;
  color: white;
  margin: 0;
  height: fit-content;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  height: fit-content;
}

ul.navbar li {
  position: static;
  height: fit-content;
}

ul.sub-menu > li > a {
  color: #fff;
  height: fit-content;
}

ul.navbar > li > a:hover,
ul.sub-menu > li > a:hover {
  color: #ec1d24;
  height: fit-content;
}

#search-form {
  display: block;
  padding-top: 4px;
  padding-right: 5px;
  float: right;
  height: fit-content;
}

#search-form input {
  width: 200px;
  float: left;
  border-radius: 2px 0 0 2px;
  font-size: 13px;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  height: fit-content;
}

#button-submit {
  width: auto !important;
  float: right;
  border-radius: 0 2px 2px 0;
  background: #ec1d24;
  font-size: 13px;
  font-weight: 600px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  height: fit-content;
}

@media only screen and (max-width: 720px) {
  nav ul {
    width: 80px;
  }
  #sub-menu {
    display: none;
  }
  nav a {
    padding: 5px 10px;
  }
  .navmenu {
    padding: 5px;
  }
  #navbar {
    display: none;
    height: 24px;
    line-height: 24px;
  }
  .toggle-nav {
    padding: 6px 10px;
  }
  #search-form input {
    width: 100px;
    padding: 5px;
    margin: 0px;
  }
}

@media only screen and (min-width: 720px) {
  #menu {
    display: none;
  }
  #navbar {
    height: 50px;
    line-height: 50px;
  }
  nav {
    display: block !important;
  }
  nav li {
    display: inline-block;
  }
  #search-form input {
    height: 50px;
    padding: 10px;
    margin: 5px 0px;
  }
}

/* TABLE */

#table_sh {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: separate;
  width: 100%;
}

#table_sh td,
#table_sh th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_sh th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #ec1d24;
  color: white;
}

#table_sh tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table_sh tr td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 2px;
}

#table_sh tr:hover {
  background-color: #ddd;
}

#table_sh tr td img {
  height: 100px;
  width: 100px;
}

#detail {
  display: table;
  padding: 0%;
}

span {
  vertical-align: middle;
  display: table-cell;
}

/* PAGINATION */

.prev,
.next {
  padding: 10px 16px;
  margin: 10px 10px 10px 0;
  position: relative;
  border-radius: 4px;
  border: 3px solid transparent;
  font-family: inherit;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  text-align: center;
  font-weight: 400 !important;
  cursor: pointer;
  --button-bg: black;
  --button-color: #fff;
  --button-hover-bg: #red;
  --button-hover-color: var(--button-color);
  background: var(--button-bg, #444857);
  color: var(--button-color, #fff);
}

.group {
  cursor: pointer; /* Pointer/hand icon */
  float: right; /* Float the buttons side by side */
}

.group #pages {
  padding: 10px;
  color: #000;
}

input.right {
  float: right;
  margin-right: 100px;
}